<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" >
    <!-- Chat Sidebar -->
    <mat-nav-list>
      <h3><mat-icon>group</mat-icon> Current Chats </h3>
      <mat-list class="user-list">
        <button mat-button *ngFor="let channel of conversations" (click)="getMessages(channel)">{{ channel.name }}</button>
      </mat-list>
      <div>
        {{ listConversationsResult }}
      </div>
      
    </mat-nav-list>
  </mat-drawer>


  <div class="example-sidenav-content">
    <div class="show-friends-button">
    <button mat-raised-button class="show-friends" type="button" mat-button (click)="drawer.toggle()">
      Show Actual Chats
    </button>
  </div>
    <!-- Chat Header -->
    <mat-toolbar color="primary" class="chat-header">
      <span><mat-icon>fitness_center</mat-icon>{{ selectedChannelName || 'Fitn3ss App' }} </span>
      <button mat-icon-button><mat-icon>exit_to_app</mat-icon></button>
    </mat-toolbar>
    <!-- Chat Main Content -->

      <div class="chat-messages">
        <div class="message" *ngFor="let message of messages">
          <!-- <p class="meta">{{ message.sender }} <span>{{ message.timestamp }}</span></p> -->
          <p class="text">{{ message.message }}</p>
        </div>
        

      <!-- Chat Form -->
      
    </div>
    <div class="chat-form-container">
      <form id="chat-form">
        <mat-form-field class="message-input">
          <input matInput #messageInput
            id="msg"
            type="text"
            placeholder="Enter Message"
            required
            autocomplete="off"
            
            (input)="updateTextMessage($event)"
          />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="sendMessage()"><mat-icon>send</mat-icon> Send</button>
      </form>
    </div>
  </div>
</mat-drawer-container>
