@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0; /* Updated to 0 */
    padding: 0; /* Updated to 0 */
}

.mat-list-item {
    margin-right: 10px;
}

.mat-sidenav {
    margin-right: 10px;
}

.user-list {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.left-side {
    margin-right: 20px;
}

.example-sidenav {
    margin-right: 30px;
    padding-left: 10px;
}

.show-friends-button {
    text-align: center;
    padding-top: 20px;
}

.show-friends {
    padding: 10px 20px;
}

.example-sidenav-content {
    display: flex;
    flex-direction: column;
    height: fixed;
}

.chat-messages {
    height: 400px;
    overflow-y: auto;
	padding-left: 20px;
	padding-top: 15px;
}

.chat-header {
    background: #4DFFB2;
    color: #040404;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px 25px 0px 0px;
}

.chat-form-container {
    background: #4DFFB2;
    border-radius: 0px 0px 25px 25px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0px 0px 25px 25px;
    background: #4DFFB2;
	margin-top: 20px;
}

.message-input {
    margin: 10px; /* Updated to margin for proper spacing */
    width: 649px;
    height: 80px;
    flex-shrink: 0;
	margin-top: 20px;
	
}

.send-button {
    margin: 10px; /* Updated to margin for proper spacing */
	color: black;
}

.example-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.icon-header{
	margin-right: 8px;
}


  .user-name {
	margin-right: 5px; /* Adjust the margin as needed for spacing */
	margin-top: 10px;
	margin-bottom: 0px;
	color: #8E8D94;
	font-family: NATS;
	font-size: 16.55px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.827px;
  }
  
  .message-text {
	display: flex;
	align-items: flex-start;
	gap: 5.172px;
	flex: 1 0 0;
	background: #2FCC59;
	border-radius: 25px;
	width: 374px;
  }


  .text{
	margin-left: 20px;
	margin-top: 10px;
	
  }

  .user-namee{
	color: var(--primary-on-primary-container, #002112);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: NATS;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  }

  /* Add CSS to style the date element */
.message-text {
	position: relative; /* Ensure the parent container is a reference for absolute positioning */
  }
  
  .timestamp {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 12px; /* Adjust the font size as needed */
	color: #888; /* Adjust the color as needed */
	padding-right: 10px;
  }
  