<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
  integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
  crossorigin="anonymous"
/>


<div class="join-container">
	<header class="join-header">
		
	  <h1><i class="fas fa-dumbbell fa-1x"></i> Fitn3ss App</h1>
	</header>
	<main class="join-main">
	<div class="message">
		<p>Welcome to Fitn3ss App! Please enter your details below:</p>
	</div>
		<!-- <div>
			<button mat-raised-button type="submit" class="btn" (click)="connect()">Connect to chat</button>
		</div>
		<div>
		<button mat-raised-button type="submit" class="btn" (click)="startConversation()">Start a conversation</button>
	</div> -->
	<br>
	  <form>
		<mat-form-field class="form-control">
		  <mat-label>Username</mat-label>
		  <input matInput type="text" name="username" id="username" placeholder="Enter username..." required>
		</mat-form-field>
		<mat-form-field class="form-control">
		  <mat-label>Room</mat-label>
		  <mat-select name="room" id="room">
			<mat-option *ngFor="let channel of conversations" [value]="channel.name">{{ channel.name }}</mat-option>
		  </mat-select>
		  
		</mat-form-field>
		<button mat-button type="submit" class="btn" [routerLink]="['/chat-page']">Join Chat</button>
	  </form>
	</main>
  </div>
  