<p>
  <button (click)="connect()">Connect to chat</button>
</p>
<button routerLink="/chatpage">Chat</button>
<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<div>
  <button (click)="startConversation()">Start a conversation</button>
  <div>
    {{ startConversationResult }}
  </div>
</div>
<div>
  <h3>My Conversations</h3>
  <ul>
    <li *ngFor="let channel of conversations">
      {{ channel.name }}
      <button (click)="getMessages(channel)">Get messages</button>
    </li>
  </ul>
  <div>
    {{ listConversationsResult }}
  </div>
</div>
<div>
  <h3>Messages in the conversation</h3>
  <ul>
    <li *ngFor="let message of messages">
      {{ message['message'] }}
    </li>
  </ul>
  
</div>
<div *ngIf="selectedChannel">
  <h3>Send a message to the selected channel</h3>
  <table>
    <tr>
      <td>
        <input
          type="text"
          placeholder="Type your message..."
          (input)="updateTextMessage($event)"
        />
      </td>
      <td>
        <button (click)="sendMessage()">Send</button>
      </td>
    </tr>
  </table>
</div>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <title>ChatCord App</title>
</head>
<body>
  <div class="chat-container">
    <header class="chat-header">
      <h1><i class="fas fa-smile"></i> Username </h1>
      <a href="index.html" class="btn">Log Out</a>
    </header>
    <main class="chat-main">
      <div class="chat-sidebar">
        <h3><i class="fas fa-comments"></i> Groups:</h3>
        <h2 id="room-name">Gym Buddies</h2>
        <h3><i class="fas fa-users"></i> Chat</h3>
        <ul id="users">
          <li>Brad</li>
          <li>John</li>
          <li>Mary</li>
          <li>Paul</li>
          <li>Mike</li>
        </ul>
      </div>
      <div class="chat-messages">
					<div class="message">
						<p class="meta">Brad <span>9:12pm</span></p>
						<p class="text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
							repudiandae.
						</p>
					</div>
					<div class="message">
						<p class="meta">Mary <span>9:15pm</span></p>
						<p class="text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
							repudiandae.
						</p>
					</div>
      </div>
    </main>
    <div class="chat-form-container">
      
      <form id="chat-form">
        <input
          id="msg"
          type="text"
          placeholder="Enter Message"
          required
          autocomplete="off"
        />
        <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
      </form>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>
</body>
</html>