
<p>
  <button (click)="connect()">Connect to chat</button>
</p>
<p>
  <button (click)="createUser()">Create User</button>
</p>
<p>
  <button (click)="deleteUser()">Delete User</button>
</p>
<p>
  <button (click)="createGlobalChat()">Create Global</button>
</p>
<button routerLink="/chatpage">Load Chatpage</button>
<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<div>
  <button (click)="startConversation()">Start a conversation</button>
  <div>
    {{ startConversationResult }}
  </div>
</div>
<div>
  <h3>My Conversations</h3>
  <ul>
    <li *ngFor="let channel of conversations">
      {{ channel.name }}
      <button (click)="getMessages(channel)">Get messages</button>
    </li>
  </ul>
  <div>
    {{ listConversationsResult }}
  </div>
</div>
<div>
  <input type="text" [(ngModel)]="searchQuery" placeholder="Search group channels" (keyup)="search($event)">
  <ul *ngIf="showAutocomplete">
    <li *ngFor="let channel of autocompleteResults" (click)="selectAutocomplete(channel)">
      {{ channel.name }}
    </li>
  </ul>
</div>
<div> 
  <h3>Messages in the conversation</h3>
  <ul #messageList>
    <li *ngFor="let message of messages">
      {{ message['message'] }}
    </li>
  </ul>
  
</div>
<div *ngIf="selectedChannel">
  <h3>Send a message to the selected channel</h3>
  <table>
    <tr>
      <td>
        <input
          type="text"
          placeholder="Type your message..."
          (input)="updateTextMessage($event)"
        />
      </td>
      <td>
        <button (click)="sendMessage()">Send</button>
      </td>
    </tr>
  </table>
</div>
<p>
  <button (click)="leaveChannel()">Leave Channel</button>
</p>
<p>
  <button (click)="inviteUser()">Invite Users</button>
</p>
<router-outlet></router-outlet>
